RewriteEngine On
RewriteRule ^rounds/([^/]+)/?$ data.php?query=round&round=$1
RewriteRule ^rounds/?$ data.php?query=rounds
RewriteRule ^tiers/([^/]+)/?$ data.php?query=tier&tier=$1
RewriteRule ^tiers/?$ data.php?query=tiers
RewriteRule ^settings/?$ data.php?query=settings
RewriteRule ^osuprofile/([^/]+)/?$ data.php?query=osuprofile&id=$1
RewriteRule ^osumatch/([^/]+)/?$ data.php?query=osumatch&id=$1